
.space{
    margin-top: 10px;
}


.round {
   width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    margin: 10px;
  }
  
 
  .search {
    position: relative;
    width: 30%;
    height: 30px;
    margin: 2px;
  }
  